{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="relative py-16">
        <div class="container relative m-auto px-6 text-gray-500 md:px-12 xl:px-40">
            <div class="m-auto md:w-6/12 lg:w-6/12 xl:w-5/12">
                <div class="rounded-3xl border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 shadow-2xl shadow-gray-600/10 dark:shadow-none">
                    <div class="p-8 py-12 sm:p-16">
                        {% if error %}
                            <div class="alert alert-danger red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="space-y-4">
                            <h2 class="mb-8 text-2xl font-bold text-gray-800 dark:text-white">
                                Login<br />
                                Devscast Community.
                            </h2>
                        </div>
                        <div class="relative py-4">
                            <form method="post" class="space-y-8" {{ stimulus_controller('@web-auth/webauthn-stimulus',
                                {
                                    useBrowserAutofill: true,
                                    usernameField: '_username',
                                    requestSuccessRedirectUri: path('app_main'),
                                    requestResultUrl: path('webauthn.controller.security.main.request.result'),
                                    requestOptionsUrl: path('webauthn.controller.security.main.request.options')
                                }
                            ) }}>
                                <div class="space-y-4">
                                   <div>
                                       <label for="username" class="text-gray-600 dark:text-gray-300">Email</label>
                                       <input value="{{ last_username }}" type="email" name="_username" id="username" autocomplete="email" required autofocus
                                              class="focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300"
                                       />
                                   </div>

                                    <div>
                                        <label for="password" class="text-gray-600 dark:text-gray-300">Password</label>
                                        <input type="password" name="_password" id="password" autocomplete="current-password"
                                               class="focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-gray-600 transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300"
                                        />
                                    </div>
                                </div>


                                <div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <button type="submit" class="group w-full relative flex h-11 items-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-white dark:before:bg-gray-700 dark:before:border-gray-600 before:border before:border-gray-200 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 disabled:before:bg-gray-300 disabled:before:scale-100">
                                        <span class="w-full relative flex justify-center items-center gap-3 text-base font-medium text-gray-600 dark:text-gray-200">Connect</span>
                                    </button>
                                    <button {{ stimulus_action('@web-auth/webauthn-stimulus', 'signin') }} type="submit" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                                        <span class="relative text-base font-semibold text-white dark:text-dark">Connect with passkey</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="space-y-4 text-center text-gray-600 dark:text-gray-400 sm:-mb-8">
                            <p class="text-xs">
                                By proceeding, you agree to our <a href="#" class="underline">Terms of Use</a> and confirm you have read our
                                <a href="#" class="underline">Privacy and Cookie Statement</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
